!!! 5
%html
  %head
    %title Statuses
  %body
    %form{action: "/pull/#{@project}/#{@language}", method: 'post'}
      %table
        %tr
          %th
            File
          %th
            Completion
        - @statuses.keys.each do |path|
          %tr
            %td
              %input{type: 'checkbox', name: 'paths[]', value: "#{path}", id:  "#{path}"}= path
            - if @statuses[path].nil?
              %td
                N/A
            - else
              %td= "#{@statuses[path]['completed']}"
      %input{type:'submit', value: 'Pull selected files from vendor'}